// font fontawesome
@font-face {
	font-family:fontawesome;
    src:url('../../lib/font-awesome/fonts/fontawesome-webfont.ttf');
}
// Helvetica Light font
@font-face {
	font-family:helvetica;
    src:url('../../fonts/HelveticaNeue.ttf');
}
@font-face {
	font-family:helvetica_light;
    src:url('../../fonts/HelveticaNeue Light.ttf');
}
@font-face {
	font-family:helvetica_thin;
    src:url('../../fonts/HelveticaNeue Thin.ttf');
}