//##font style
$font-body: helvetica, Arial, sans-serif;
$font-awesome:fontawesome;
$font-hel-light:helvetica_light;
$font-hel-thin:helvetica_thin;

//##color
$color-main:#00285c;
$color-black:#000;
$color-white:#fff;
$color-gray-light: #eee;
$color-gray-lighter: #ddd;

//##font-size
$font-size-main: 14px;
$font-size-regular:16px;
$font-size-x-regular: 20px;
$font-size-large: 24px;
$font-size-x-large :30px;

//##lineheight
$line-height-small: 10px;
$line-height-x-small: 12px;
$line-height-main:24px;
$line-height-large:32px;





